# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment files
.env
.env.local
.env.production.local

# Firebase
.firebase/
functions/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Debug
npm-debug.log*
.vercel
.env*.local
